<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ingresar_producto.css">
    <link rel="stylesheet" href="../css/tabla_productos.css">
    <title>Registrar</title>
</head>

<body>

    <header id="header"></header>

    <main>

        <section>
            <div class="container-form">

                <form action="">
                    <div class="entrada">
                        <label for="nombre">Autor:</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>

                    <div class="entrada">
                        <label for="titulo">Título receta:</label>
                        <input type="text" name="titulo" id="titulo">
                    </div>

                    <div class="entrada">
                        <label for="receta">Receta:</label>
                        <input type="text" name="receta" id="receta">
                    </div>

                    <div class="entrada">
                        <label for="notas">Notas:</label>
                        <input type="text" name="notas" id="notas">
                    </div>

                    <div class="entrada">
                        <label for="imagen">Imagen:</label>
                        <input type="text" name="imagen" id="imagen">
                    </div>

                    <div class="entrada">
                        <button class="modificar" type="button" onclick="guardar()">Guardar</button>
                    </div>

                </form>

            </div>
        </section>

    </main>

    <footer></footer>

    <script src="../js/ingresar_producto.js"></script>
    <script src="../js/header.js"></script>
</body>

</html>